<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         failOnRisky="true"
         failOnWarning="true"
         failOnDeprecation="true"
         testdox="true">
    <testsuites>
        <testsuite name="ERC20 Lib Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>