name: Tests

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  phpunit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.5"
          tools: composer, phpunit
          extensions: openssl, gmp, bcmath, curl, json

      - name: Install dependencies (autoload only)
        run: composer install --no-interaction --prefer-dist --no-progress

      - name: Run tests
        run: phpunit
